.mapPage {
    vertical-align: top;
    overflow: auto;
    .langBoxContainer {
        display: inline-block;
        overflow-y: scroll;
        width: 20%;
        height: calc(100vh - 112px); 
    }
}